.subscribe-link {
  text-decoration: none;
  background-color: #3e54ac;
  color: #ffffff;
  padding: 0.6rem 1rem;
  border-radius: 0.4rem;
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
  user-select: none;

  &:hover {
    background-color: #2e3e8c;
  }
}

@media screen and (max-width: 900px) {
  .subscribe-link {
    font-size: 1.6rem;
  }
}