.books-grid {
  width: 100%;
  padding: 0px 3rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  gap: 1rem;

  .books-grid__book {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 0.4rem;
    overflow: hidden;
  }
}

@media screen and (max-width: 767px) {
  .books-grid {
    padding: 0px 2rem;
  }
}

@media screen and (max-width: 460px) {
  .books-grid {
    padding: 0px 1rem;
  }
}