.books-grid {
  width: 100%;
  padding: 0px 3rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  gap: 1rem;

  .books-grid__book {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 0.4rem;
    overflow: hidden;

    .book-price {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        direction: rtl;
        background: #BFACE2;

        .book-price__discount,
        .book-price__actual {
            font-size: 0.8rem;
            padding: 0.4rem;
            color: #1b2961;
        }

        .book-price__cart {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0.8rem;
            width: 2.8rem;
            height: 2rem;
            background-color: #3E54AC;
        }
    }
  }
}

@media screen and (max-width: 767px) {
    .books-grid {
        padding: 0px 2rem;
    }
}

@media screen and (max-width: 460px) {
    .books-grid {
        padding: 0px 1rem;
    }
}